@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFEFF3;
  --text: #696986;
  --accent: #C6C3D6;
  --accent-light: #d9d7e6;
  --dark: #0E0923;
  --border-opacity-20: #0E092314;
  --border-opacity-30: #0E09234D;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #EFEFF3;
    --text: #696986;
    --accent: #C6C3D6;
    --dark: #0E0923;
  }
}

/* CUSTOM UTILITIES */
.hover-container {
  background: var(--accent);
  border: 2px solid var(--border-opacity-20);
}

.hover-container:hover,
.hover-container:active,
.hover-container.active {
  background: var(--accent-light);
  border: 2px solid var(--border-opacity-30);
}

@layer base {
  body {
    color: var(--text);
    background: var(--background);
    font-family: 'Hanken Grotesk', sans-serif;
  }

  #__next {
    height: 100vh;
  }

  h1 {
    @apply text-7xl font-bold;
  }

  h2 {
    @apply text-2xl font-extralight text-dark;
  }

  p {
    font-size: 1.25rem;
  }
}
