@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFEFF3;
  --text: #696986;
  --accent: #d8d8e8;
  --accent-darker: #c5c5dc;
  --dark: #0E0923;
  --border-opacity-10: #0E09231A;
  --border-opacity-20: #0E092333;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #EFEFF3;
    --text: #696986;
    --accent: #C6C3D6;
    --dark: #0E0923;
  }
}

/* CUSTOM UTILITIES */
.hover-container {
  background: var(--accent);
  border: 1px solid var(--border-opacity-10);
}

.hover-container:hover,
.hover-container:active,
.hover-container.active {
  background: var(--accent-darker);
  border: 1px solid var(--border-opacity-20);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
  body {
    color: var(--text);
    background: var(--background);
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100vh;
  }

  h1 {
    @apply text-6xl font-black;
  }

  h2 {
    @apply text-2xl font-extralight text-dark;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-light;
  }

  h5 {
    @apply text-sm font-light;
  }

  .flex-between {
    @apply flex justify-between;
  }
}
